<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration> 
	<session-factory> 
		<!-- Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<!-- 	replace localhost with ip if needed 
				replace ide with the name of the database to be used -->
		<property name="connection.url">jdbc:postgresql://localhost/better</property>
		<!-- 	replace root with your mysql username -->
		<property name="connection.username">betterweather</property>
		<!-- 	replace jcd213 with your mysql password -->
		<property name="connection.password">k1ttenm1ttens</property>
 
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
 
		<property name="current_session_context_class">thread</property> 
 
		<mapping resource="/City.hbm.xml" /> 
	</session-factory> 
</hibernate-configuration>
